
// Use these settings if connecting to a server using http
export const API_ROOT_URL = `http://${window.location.hostname}:8000/sealog-server`;
export const WS_ROOT_URL = `ws://${window.location.hostname}:8000/ws`;

// Use these settings if connecting to a server using https
// export const API_ROOT_URL = `https://${window.location.hostname}:8000/sealog-server`;
// export const WS_ROOT_URL = `wss://${window.location.hostname}:8000/ws`;

// Change this if not hosting the client at the webserver's document root i.e. '/sealog/'
export const ROOT_PATH = "/sealog/";

// Where the images are hosted on the webserver.
export const IMAGE_PATH = "/files/images";
export const RECAPTCHA_SITE_KEY = ""

// Stuff added specifically to simplify maintaining the ISC instances
export const LOGIN_SCREEN_TXT = "";
export const MAIN_SCREEN_TXT = "Sealog provides the Oceanographic Research community with an open-source tool for recording, reviewing, and exporting real-time scientific and/or operational observations.";
export const LOGIN_IMAGE = "login_image.png";
export const HEADER_TITLE = "ISC Sealog";

// Setting this to 'true' will configure the client to include the additional
// metadata fields for the cruise records such as the MTU number, hardware
// version and vessel name
export const MTU = false
